$navButtonSize: 2rem;
$barHeight: 6px;
$globalpadding: 2.7rem;
$border: 1px solid #000;
$lightFont: 'LEMON MILK', sans-serif;

@mixin arrow($w, $h, $x){
    &:before{
        content: "";
        background-image: url(../img/arrow.svg);
        background-size: contain;
        width: 4rem;
        height: 2rem;
        position: absolute;
        margin-left: 7.5rem;
        background-repeat: no-repeat;
        width: $w;
        height: $h;
        margin-left: $x;

    }
}


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-radius: 0;
    padding: .9rem 2.5rem;
    background-color: #FE682F;
    border: $border;
    position: relative;

    &:after {
        border: $border;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        top: .5rem;
        left: .5rem;
        z-index: -1;
    }

    &:active {
        top: .5rem;
        left: .5rem;

        &:after {
            top: 0;
            left: 0;
        }
    }
}

body {
    // background-color: #E5E5E5;
    z-index: -3;
    position: relative;

    font-family: $lightFont;
    font-size: 13px;
    margin: 0%;

    nav {
        // background-color: #ebe423;
        // border: 2px dashed #FDF6EB;
        // rozmieszczenie obok siebie
        display: flex;
        // oddalenie w od siebie po obu końcach
        justify-content: space-between;
        padding: 2rem 2rem .5rem 2rem;
        border-bottom: 2px solid black;
        // z-index: -1;


        .logoWrapper {
            // border: 2px dashed #cc1e0b;
            display: flex;
            align-items: center;

            img {
                width: $navButtonSize;
                height: $navButtonSize;
                margin: 0.5rem;
            }

            h1 {
                font-size: 1.2rem;
            }

        }

        .burgerWrapper {
            display: flex;
            align-items: center;
            // border: 2px dashed #31ed14;
            position: relative;


            label {
                // border: 2px dashed #f1148a;
                width: $navButtonSize;
                height: $navButtonSize;
                position: absolute;
                right: 0;
                // Rączka jak podejdziemy kursorem nad label
                cursor: pointer;
                margin-right: .7rem;

                // dziubek oznacza bezpośrednie dzieci labela, nie obejnuje wnuków laBela                

                >div {
                    transition: .5s;
                    height: $barHeight;
                    background-color: #000;
                    position: absolute;
                    width: 100%;

                    &:nth-child(2) {
                        top: calc($navButtonSize / 2 - $barHeight / 2);
                    }

                    // & - odnosi sie do selektora wewnatrz którego się znajduje

                    &:nth-child(3) {
                        bottom: 0;
                        display: flex;
                        background-color: transparent;
                        justify-content: space-between;

                        div:nth-child(1) {
                            background-color: #000;
                            width: 60%;
                        }

                        div:nth-child(2) {
                            width: 20%;
                            background-color: orange;
                        }

                    }

                }


            }

            input {
                display: none;
            }

            // ukryć menu
            ol {
                z-index: -1;
                // border: 2px dashed #ebe423;
                background-color: white;
                // display: none;
                top: -100vh;
                position: absolute;
                right: -2rem;
                list-style: none;
                padding: 20px 10px;
                width: 100vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: absolute;
                transition: .5s;
            }

            //    wpływamy na przycisk toggler ~
            #toggler:checked~ {
                ol {
                    top: 100%;
                }

                label>div {

                    top: calc($navButtonSize / 2 - $barHeight / 2);

                    &:nth-child(1) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);

                        // kropeczka na środku
                        div:nth-child(1) {
                            display: none;
                        }


                        background-color: black;
                        justify-content: center;


                    }
                }
            }

        }

        .buttons {
            display: none
        }
    }

    main {
        // background-color: #31ed14;
        position: relative;
        z-index: -2;

        // margin-top: -1px;
        .titleWrapper {
            border-left: $border;
            margin-left: $globalpadding;
            padding: 2rem 2rem 4rem 1rem;

            h2 {
                font-size: 2rem;
                margin-bottom: .5rem 0;
            }

            p {
                font-family: $lightFont;
                margin: 1rem 0;
            }

            button {
                display: none;
            }

            b {
                font-size: 2rem;
            }
        }

        .imgContainer {
            border-top: $border;

            .imgWrapper {
                background-color: #FE682F;
                margin: 0 $globalpadding;
                border-left: $border;
                border-right: $border;

                .img {
                    // border: 2px dashed red;
                    min-height: 80vh;
                    background-image: url(../style/man-is-putting-watch-his-wrist-1.webp);
                    background-size: cover;
                    background-position: center;
                    border-radius: 50vw;


                }
            }

        }

        .contentContainer {
            // border: 2px dashed #0c960c;
            margin: 0 $globalpadding;
            border-right: $border;
            border-right: $border;
            // padding: 0 1rem;


            .buttonContainer {
                text-align: center;
                padding: $globalpadding 0;

                button{
                    @include arrow(4rem, 2rem, 8rem);
                }

                // border:2px dashed red;
            }

            .imgWrapper {
                background-color: #FE682F;
                margin: 0 $globalpadding;
                border-left: $border;
                border-right: $border;

                .img {
                    // border: 2px dashed red;
                    min-height: 60vh;
                    background-image: url(../style/AnyConv.com__businessman-checking-time\ -\ Copy\ 1.webp);
                    background-position: center;
                    background-size: cover;
                }

            }

            .contentWrapper {
                p {
                    text-align: center;
                    padding: 2rem 0;
                    margin: 0;
                    line-height: 2rem;


                }
            }

        }

        .trendingWrapper {
            border-top: $border;
            border-bottom: $border;


            .trending {
                background-color: #FFEE01;
                border-top: $border;
                border-bottom: $border;
                margin: 0 $globalpadding;
                padding: 4rem 0;
                display: flex;
                justify-content: center;


                p {
                    margin: 0;
                    font-size: 3rem;
                    // border: 2px dashed red;

                }
            }

        }

    }


}

// laptop view

@media (min-width: 1280px) {

    nav {
        padding: 0 3rem !important;
    }

    .burgerWrapper {
        // border:5px dashed red !important;
        flex: 1;
        padding: 0 2rem;
        border-left: $border;
        border-right: $border;


        ol {
            top: 0 !important;
            position: relative !important;
            z-index: 0 !important;
            width: auto !important;
            right: auto !important;
            flex: 1;
            justify-content: space-evenly !important;

        }

        label {
            display: none;
        }
    }

    .buttons {
        display: flex !important;
        align-items: center;

        a {
            margin: 0 1rem;
        }
    }

    .logoWrapper,
    .buttons {
        padding: 2.5rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 0 6rem;
        margin-bottom: 4rem;
        .titleWrapper{
            padding: 3rem 2rem 4rem 3rem !important;
            // margin: 0 !important;
            border-bottom: .1rem solid !important;
            border-left: $border !important;

            h2{
              font-size: 3rem !important;
              img{
                  transform: scale(2.4);
                  margin-left: 2rem;
              }
            }
            p{
                max-width: 70%;

            }

            button{
                display: flex !important;
                margin: 2rem 0;
                @include arrow(8rem, 4rem, 8rem)
            }


            
        }

        .imgContainer{
            border: none !important;

            .imgWrapper{
                height: 100%;
                margin: 0 !important;
                border: none !important;
                .img{
                    min-height: 100% !important
                }
            }
        }

        .contentContainer{
            margin: 0 !important;
            display: flex;
            padding: 0 !important;
            border-bottom: $border !important;
            border-right: $border !important;
            
            .buttonContainer{
                display: none;
                border-bottom: 0 !important;
            }
            .imgWrapper{
                flex: 1;
                border: none !important;
                .img{
                    min-height: 100% !important;
                    // border: none !important;
                    border: none !important;
                }
                
            }
            .contentWrapper{
                flex: 4;
                padding: 1rem 1rem;
                font-family: $lightFont;
                font-size: 1.5rem;
                p{
                    text-align: left !important;
                    
                }

            }

        }
        .trendingWrapper{
            border-top: $border;

            .trending{
                border-top: none !important;
                border-bottom: none !important;
                border-left: $border !important;
                border-right: $border !important;
                margin: 0 !important;
                // border-left: none !important;
                min-height: 100%;

            }
        }
    }

}
